<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SyncServiceEntity" connectionString="metadata=res://*/Pocos.SyncServiceEntity.csdl|res://*/Pocos.SyncServiceEntity.ssdl|res://*/Pocos.SyncServiceEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008R2;initial catalog=GestorDocument;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>