<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GestorDocumentEntities" connectionString="metadata=res://*/GestorDocument.csdl|res://*/GestorDocument.ssdl|res://*/GestorDocument.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008;initial catalog=GestorDocument;persist security info=True;user id=sa;password=1nmeta;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GestorDocument.DAL.Properties.Settings.GestorDocumentConnectionString"
      connectionString="Data Source=.\SQL2008;Initial Catalog=GestorDocument;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GestorDocument.DAL.Properties.Settings.GestorDocumentConnectionString"
      connectionString="Data Source=.\SQL2008;Initial Catalog=GestorDocument;Persist Security Info=True;User ID=sa;Password=1nmeta"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
</configuration>