<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="SyncServiceServerEntity" connectionString="metadata=res://*/POCOS.SyncServiceServerEntity.csdl|res://*/POCOS.SyncServiceServerEntity.ssdl|res://*/POCOS.SyncServiceServerEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008R2;initial catalog=db_GestorDocumtsTest;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>    
</configuration>