<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SyncServiceServerEntity" connectionString="metadata=res://*/POCOS.SyncServiceServerEntity.csdl|res://*/POCOS.SyncServiceServerEntity.ssdl|res://*/POCOS.SyncServiceServerEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008R2;initial catalog=db_GestorDocumtsTest;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="153600" executionTimeout="900" />
    <compilation debug="true" targetFramework="4.0" />
    <identity impersonate="false"/>
    <authentication mode="None" />
    <authorization>
      <allow users="?" />
    </authorization>
    <customErrors mode="Off" defaultRedirect="GenericError.htm">
    </customErrors>
  </system.web>
  <system.serviceModel>
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AuthBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="AuthBehavior" name="SyncService.Service.Services.Receiver">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="SyncService.Service.Services.IReceiver" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior"  bindingConfiguration="webhttpbiding" contract="SyncService.Service.Services.IReceiver" />
      </service>

      <service behaviorConfiguration="AuthBehavior" name="SyncService.Service.Services.Broadcast">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="SyncService.Service.Services.IBroadcast" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior"  bindingConfiguration="webhttpbiding" contract="SyncService.Service.Services.IBroadcast" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
			maxStringContentLength="2147483647"
			maxArrayLength="2147483647"
			maxBytesPerRead="2147483647"
			maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webhttpbiding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="2147483647"
          maxStringContentLength="2147483647"
          maxArrayLength="2147483647"
          maxBytesPerRead="2147483647"
          maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
 <system.webServer>    
   <security>
     <requestFiltering>
       <requestLimits maxAllowedContentLength="157286400" />
     </requestFiltering>
   </security>
   <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>
</configuration>
