<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GestorDocumentEntities" connectionString="metadata=res://*/GestorDocument.csdl|res://*/GestorDocument.ssdl|res://*/GestorDocument.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008R2;initial catalog=GestorDocument;persist security info=True;user id=sa;password=Passw0rd1!;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GestorDocument.DAL.Properties.Settings.GestorDocumentConnectionString"
      connectionString="Data Source=.\SQL2008R2;Initial Catalog=GestorDocument;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GestorDocument.DAL.Properties.Settings.GestorDocument1ConnectionString"
      connectionString="Data Source=.\SQL2008R2;Initial Catalog=GestorDocument;Persist Security Info=True;User ID=sa;Password=1nmeta"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>