<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SyncServiceEntity" connectionString="metadata=res://*/Pocos.SyncServiceEntity.csdl|res://*/Pocos.SyncServiceEntity.ssdl|res://*/Pocos.SyncServiceEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ADMINISTRADOR1\SQL2008R2;Initial Catalog=GestorDocument1;Persist Security Info=True;User ID=sa;Password=1nmeta;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BroadCast" value="http://localhost:8080/Services/Broadcast.svc"/>
    <add key="Reciver" value="http://localhost:8080/Services/Receiver.svc"/>
  </appSettings>
</configuration>