<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchName="mySwitch">
        <listeners>
          <add name="myListener" />
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="mySwitch" value="All" />
    </switches>

    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener"
           initializeData="DataBindingTrace.txt" />
    </sharedListeners>
  </system.diagnostics>
  
  <connectionStrings>
    <add name="GestorDocumentEntities" connectionString="metadata=res://*/GestorDocument.csdl|res://*/GestorDocument.ssdl|res://*/GestorDocument.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008;initial catalog=GestorDocument;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SyncServiceEntity" connectionString="metadata=res://*/Pocos.SyncServiceEntity.csdl|res://*/Pocos.SyncServiceEntity.ssdl|res://*/Pocos.SyncServiceEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008;initial catalog=GestorDocument;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="GestorDocument.DAL.Properties.Settings.GestorDocumentConnectionString"
      connectionString="Data Source=.\SQL2008;Initial Catalog=GestorDocument;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GestorDocument.UI.Properties.Settings.GestorDocumentConnectionString"
      connectionString="Data Source=.\SQL2008;Initial Catalog=GestorDocument;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

    <add key="ServerDocsFolder" value="\\172.29.87.7\ShareFolder\"/>
    <add key="LocalDocsApp" value="ExpedienteDocs"/>
    <add key="LocalReporteApp" value="Reportes"/>
    <!--SERVICIOS-->

    <add key="BroadCast" value="http://172.29.87.7:8599/Services/_Broadcast.svc"/>
    <add key="Reciver" value="http://172.29.87.7:8599/Services/_Broadcast.svc"/>

    <!--AUTH-->
    <add key="basicAuthUser" value="Administrator"/>
    <add key="basicAuthPass" value="Conagua2013"/>
    <add key="UsuarioCorreo" value="rmartinez@inmeta.com.mx"/>

    <!--NOMBRE DE LA APLICACIÓN-->
    <add key="NombreProceso" value="GestorDocument.UI" />
    <!--TIMER PARA DESPERATR LOS HILOS--> 
    <add key="SyncTimer" value="30" />
    <add key="SyncDocs" value="30" />
    <add key="ContSettings" value="1" />
    <!--Propiedades para WebService de Actualizacion-->
    <add key="GetDownload" value="http://172.29.87.7:2792/Servicios/_BroadCast.svc" />
    <add key="WebMethodVersion" value="GetLastVersion" />
    <add key="WebMethodPath" value="GetPath" />
    <add key="User" value="Administrator" />
    <add key="Pass" value="Conagua2013" />
    <!--Path Actualizador-->
    <add key="ActualizadorPath" value="C:\Programs\Actualizador.SetUp\Actualizador.UI.exe" />
    <add key="Assembly" value="" />
    <add key="IsUpdate" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IdAPP" value="20130812132114787"/>
    <add key="20130812132114787" value="GestorDocument.UI"/>
    <add key="ConnectionApplication" value="data[==]source=.\sqlexpress;initial[==]catalog=GestorDocument;integrated[==]security=True"/>
    
  </appSettings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>